<p-card>
    <p-carousel [value]="products" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                <div class="mb-3">
                    <img class="w-9 sm:w-16rem xl:w-30rem shadow-2 block xl:block mx-auto border-round"
                        [src]="'assets/products/'+ product._id + '.jpg'" alt=""/>
                </div>
                <div>
                    <h2 class="mb-1" >{{ product.name }}</h2>
                    <h3 class="mt-0 mb-3">{{ '$' + product.price }}</h3>
    
                    <p-button type="button" styleClass="p-button  p-button-rounded mr-2" icon="pi pi-ellipsis-h" attr.aria-label="Ver detalle del producto {{product.name}}" 
                        (click)="redirectToProductInfo(product._id)"></p-button>
    
                </div>
            </div>
        </ng-template>
    </p-carousel>
</p-card>
