<p-card>

    <div class="p-d-flex p-align-center">
        <h1>MIS DATOS</h1>
    </div>

    <p-divider></p-divider>

    <div class="datos">
        <h1>DATOS</h1>
        <h3>Nombre</h3>
        <p>Enrique Vera</p>
        <h3>Dirección de envío</h3>
        <p></p>
        <p-button label="Modificar" styleClass="p-button-text"></p-button>
    </div>

    <div class="cuenta">
        <h1>TU CUENTA</h1>
        <h3>Correo electrónico</h3>
        <p></p>
        <p-button label="Modificar" styleClass="p-button-text"></p-button>
        <h3>Contraseña</h3>
        <p>***********</p>
        <p-button label="Modificar" styleClass="p-button-text"></p-button>
        <p-button label="Cerrar sesión" styleClass="p-button-text" (click)="logout()"></p-button>
    </div>

</p-card>