<div>
    <div class="grid flex justify-content-center">

        <div class="col-12 md:col-6">

            <div>
                <h1>Tu carrito</h1>
            </div>
            <div>
                <p>
                    <span>TOTAL </span>
                    <strong>{{ getTotalPrice() | currency:'EUR'}}</strong>
                </p>
            </div>

            <div *ngFor="let product of cartProducts; let i = index" class="flex flex-column card-container">
                <div class="p-card">
                    <div class="flex justify-content-between">
                        <div class="m-2 hidden md:inline-flex">
                            <img class="sm:inline-flex sm:w-10rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
                                [src]="'assets/products/'+ product._id + '.jpg'" alt="" />
                        </div>
                        <div>
                            <h2>{{product.name}}</h2>
                            <p>{{product.price}}€</p>
                        </div>
                        <div class="m-2">
                            <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger"
                                (click)="removeFromCart(i)"
                                attr.aria-label="Borrar {{product.name}} del carrito"></p-button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="col-12 align-items-center sm:col-2 flex flex-column justify-content-start">
            <p-button label="COMPRAR" icon="pi pi-arrow-right" iconPos="right" styleClass="p-button-raised" class="m-4"
                (click)="compra()" [disabled]="cartProducts.length === 0"></p-button>
            <div>
                <p>
                    <span>Total productos: </span>
                    <strong>{{ cartProducts.length }}</strong>
                </p>
                <p>
                    <span>Total precio: </span>
                    <strong>{{ getTotalPrice() | currency:'EUR' }}</strong>
                </p>
            </div>
        </div>
    </div>
</div>