<header>
    <p-menubar role="menú principal" [model]="items">

        <ng-template pTemplate="start">

            <img src="https://www.shareicon.net/data/2015/09/08/97745_basketball_512x512.png" height="40" class="mr-2"
                routerLink=".." alt="Logo Hooper Haven">

        </ng-template>

        <ng-template pTemplate="end">

            <div class="flex align-items-center">
                <p-button *ngIf="showLogoutButton" styleClass="p-button-rounded p-button-text" (click)="logout()">
                    Cerrar sesión
                </p-button>
                <p-button styleClass="p-button-rounded p-button-text" icon="pi pi-user" (onClick)="redirect()"
                    [attr.aria-label]="changeAriaLabelLogin()">
                </p-button>
                <p-button label="" styleClass="p-button-rounded p-button-text" routerLink="/core/cart">
                    <i class="pi pi-shopping-cart" pBadge [value]="cartItemCount.toString()"></i>
                </p-button>
            </div>
        </ng-template>

    </p-menubar>
</header>

<br>

<main>
    <router-outlet></router-outlet>
</main>


<br>

<footer>
    <p-card>
        <div class="flex justify-content-center">
            <a title="teléfono" href="#" class="flex align-items-center mr-2">
                <i class="pi pi-phone"></i>
            </a>
            <a title="correo"  href="#" class="flex align-items-center mr-2">
                <i class="pi pi-envelope"></i>
            </a>
            <a title="instagram"  href="#" class="flex align-items-center mr-2">
                <i class="pi pi-instagram"></i>
            </a>
            <a title="facebook"  href="#" class="flex align-items-center">
                <i class="pi pi-facebook"></i>
            </a>
        </div>
    </p-card>
</footer>