<header>
    <p-menubar role="menú principal" [model]="items">

        <ng-template pTemplate="start">

            <img src="../../../../assets/logo.png" height="40" class="mr-2" routerLink=".." alt="Logo Hooper Haven">

        </ng-template>

        <ng-template pTemplate="end">

            <div class="flex align-items-center">
                <p-button *ngIf="showLogoutButton" styleClass="p-button-rounded p-button-text" (click)="logout()">
                    Cerrar sesión
                </p-button>
                <p-button styleClass="p-button-rounded p-button-text" icon="pi pi-user" (onClick)="redirect()"
                    [attr.aria-label]="changeAriaLabelLogin()">
                </p-button>
                <p-button label="" styleClass="p-button-rounded p-button-text" routerLink="/core/cart">
                    <i class="pi pi-shopping-cart" pBadge [value]="cartItemCount.toString()"></i>
                </p-button>
            </div>
        </ng-template>

    </p-menubar>
</header>

<br>

<main>
    <router-outlet></router-outlet>
</main>

<br>

<footer>
    <p-card>
        <div class="flex justify-content-center">
            <a title="abre nueva ventana" aria-label="teléfono" target="_blank" href="#" class="flex align-items-center mr-2">
                <i aria-hidden="true" class="pi pi-phone"></i>
            </a>
            <a title="abre nueva ventana" aria-label="correo" href="#" target="_blank" class="flex align-items-center mr-2">
                <i aria-hidden="true" class="pi pi-envelope"></i>
            </a>
            <a title="abre nueva ventana" aria-label="instagram" href="#" target="_blank" class="flex align-items-center mr-2">
                <i aria-hidden="true" class="pi pi-instagram"></i>
            </a>
            <a title="abre nueva ventana" aria-label="facebook" href="#" target="_blank" class="flex align-items-center">
                <i aria-hidden="true" class="pi pi-facebook"></i>
            </a>
        </div>
    </p-card>
</footer>